<div class="row text-center ">
    <div class="btn-group  btn-group-md" role="group" aria-label="...">
        <a ng-href="#/Classifieds/pups-for-sale">Pups for sale</a><br /><br />
        <a ng-href="#/Classifieds/dogs-for-sale">Dogs for sale</a><br /><br />
        <a ng-href="#/Classifieds/private-ads">Private ads</a><br /><br />
        <a ng-href="#/Classifieds/bussiness-ads">Business adds</a><br /><br />
        <a ng-href="#/Classifieds/litter-ads">Place Litter ads</a><br /><br />
        <a ng-href="#/Classifieds/place-dog-ads">Place Dog ads</a><br /><br />
        <a ng-href="#/Classifieds/place-misc-ads">Place misc ads</a><br /><br />
        
    </div><div class="clearfix"></div>
</div>