<div class="container">
    <div class="col-md-9">
        <div class="page-header text-center inner-page">
            <h3>Classifieds Section</h3>
        </div>
        <div class="btn-group make-center themed page-links">
            <button type="button" class="btn btn-default">pups for sale </button>
            <button type="button" class="btn btn-default">dogs for sale </button>
            <button type="button" class="btn btn-default">private ads </button>
            <button type="button" class="btn btn-default">business ads  </button>
            <button type="button" class="btn btn-default">place litter ad   </button>
            <button type="button" class="btn btn-default">place dog ad  </button>
            <button type="button" class="btn btn-default">place misc ad </button>
        </div>
        <div class="text-center">
            <p>Greyhound-Data is visited by 15,000 to 25,000 greyhound friends every day. That's why you should take advantage of this and advertise your litter, your racing dogs and broods or any other greyhound related items here.</p>
            <p>Placing an ad is for free. All you need is a valid Greyhound-Data account before you can place your ad.</p>
            <p>To provide you a better service, we have changed our ad system. You have now the possibility to change and delete the ads you have posted.</p>
        </div>

        <div class="mini-search">
            <form class="form-inline">
                <div class="form-group">
                    <label for="">Sire name</label>
                    <input type="text" class="form-control" >
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

        <div class="clear"></div>

    </div>

    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>

</div>



<div class="row text-center ">
    <div class="btn-group  btn-group-md" role="group" aria-label="...">
        <a ng-href="#/Classifieds/pups-for-sale">Pups for sale</a><br /><br />
        <a ng-href="#/Classifieds/dogs-for-sale">Dogs for sale</a><br /><br />
        <a ng-href="#/Classifieds/private-ads">Private ads</a><br /><br />
        <a ng-href="#/Classifieds/bussiness-ads">Business adds</a><br /><br />
        <a ng-href="#/Classifieds/litter-ads">Place Litter ads</a><br /><br />
        <a ng-href="#/Classifieds/place-dog-ads">Place Dog ads</a><br /><br />
        <a ng-href="#/Classifieds/place-misc-ads">Place misc ads</a><br /><br />

    </div><div class="clearfix"></div>
</div>