<div class="container">
    <div class="col-md-9">
        <div class="page-header text-center inner-page">
            <h3>Classifieds Section</h3>
        </div>
        <div class="btn-group make-center themed page-links">
            <button type="button" class="btn btn-default">pups for sale </button>
            <button type="button" class="btn btn-default">dogs for sale </button>
            <button type="button" class="btn btn-default">private ads </button>
            <button type="button" class="btn btn-default">business ads  </button>
            <button type="button" class="btn btn-default">place litter ad   </button>
            <button type="button" class="btn btn-default">place dog ad  </button>
            <button type="button" class="btn btn-default">place misc ad </button>
        </div>
        <ul class="nav nav-tabs make-center">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
        <div class="tab-items">
            <div class="text-center">
                <p>Here you can advertise your <b>litters, single pups and not yet registered saplings.</b></p>

            </div>
            <div class="row image-description">
                <div class="col-md-5">
                    <div class="image">
                        <img src="http://www.greyhound-data.com/pups/52034/101/Greyhound_Pups_Droopys_Jet_X_Goosabyrnes.jpg" />
                    </div>

                </div>
                <div class="col-md-7">
                    <table>
                        <tr>
                            <td colspan="2">
                                <h3>Droopys Jet  x  Goosabyrnes </h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Date of birth </b>
                            </td>
                            <td>12/06/16 12 weeks. </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Comment</b>
                            </td>
                            <td>5 dogs 2 Bitches
Proven dam produced open class in first two litters
Castlehyde King won the golden crest in Poole 10 spots outside track record June 2016
Savanna Carla 28.87 Dundalk
28.99 drumbo park.
Pups are microchipped, wonderful temperament inspection welcomed. </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Contact </b>
                            </td>
                            <td>William Barrett  </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Address </b>
                            </td>
                            <td>Ireland</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Phone </b>
                            </td>
                            <td>087-9936108</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Email </b>
                            </td>
                            <td>contact now! <br />
                                (ad posted 29-Aug-16)<br />
                                (William Barrett ibbillyb2001@yahoo.com #)
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
            <div class="row image-description">
                <div class="col-md-5">
                    <div class="image">
                        <img src="http://www.greyhound-data.com/pups/52034/101/Greyhound_Pups_Droopys_Jet_X_Goosabyrnes.jpg" />
                    </div>

                </div>
                <div class="col-md-7">
                    <table>
                        <tr>
                            <td>
                                <b>Date of birth </b>
                            </td>
                            <td>12/06/16 12 weeks. </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Comment</b>
                            </td>
                            <td>
                                5 dogs 2 Bitches
                                Proven dam produced open class in first two litters
                                Castlehyde King won the golden crest in Poole 10 spots outside track record June 2016
                                Savanna Carla 28.87 Dundalk
                                28.99 drumbo park.
                                Pups are microchipped, wonderful temperament inspection welcomed.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Contact </b>
                            </td>
                            <td>William Barrett  </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Address </b>
                            </td>
                            <td>Ireland</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Phone </b>
                            </td>
                            <td>087-9936108</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Email </b>
                            </td>
                            <td>
                                contact now! <br />
                                (ad posted 29-Aug-16)<br />
                                (William Barrett ibbillyb2001@yahoo.com #)
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
            <div class="row image-description">
                <div class="col-md-5">
                    <div class="image">
                        <img src="http://www.greyhound-data.com/pups/52034/101/Greyhound_Pups_Droopys_Jet_X_Goosabyrnes.jpg" />
                    </div>

                </div>
                <div class="col-md-7">
                    <table>
                        <tr>
                            <td>
                                <b>Date of birth </b>
                            </td>
                            <td>12/06/16 12 weeks. </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Comment</b>
                            </td>
                            <td>
                                5 dogs 2 Bitches
                                Proven dam produced open class in first two litters
                                Castlehyde King won the golden crest in Poole 10 spots outside track record June 2016
                                Savanna Carla 28.87 Dundalk
                                28.99 drumbo park.
                                Pups are microchipped, wonderful temperament inspection welcomed.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Contact </b>
                            </td>
                            <td>William Barrett  </td>
                        </tr>

                        <tr>
                            <td>
                                <b>Address </b>
                            </td>
                            <td>Ireland</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Phone </b>
                            </td>
                            <td>087-9936108</td>
                        </tr>

                        <tr>
                            <td>
                                <b>Email </b>
                            </td>
                            <td>
                                contact now! <br />
                                (ad posted 29-Aug-16)<br />
                                (William Barrett ibbillyb2001@yahoo.com #)
                            </td>
                        </tr>


                    </table>
                </div>
            </div>

        </div>

  



        <div class="clear"></div>

    </div>

    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>

</div>



<div class="row text-center ">
    <div class="btn-group  btn-group-md" role="group" aria-label="...">
        <a ng-href="#/Classifieds/pups-for-sale">Pups for sale</a><br /><br />
        <a ng-href="#/Classifieds/dogs-for-sale">Dogs for sale</a><br /><br />
        <a ng-href="#/Classifieds/private-ads">Private ads</a><br /><br />
        <a ng-href="#/Classifieds/bussiness-ads">Business adds</a><br /><br />
        <a ng-href="#/Classifieds/litter-ads">Place Litter ads</a><br /><br />
        <a ng-href="#/Classifieds/place-dog-ads">Place Dog ads</a><br /><br />
        <a ng-href="#/Classifieds/place-misc-ads">Place misc ads</a><br /><br />

    </div><div class="clearfix"></div>
</div>