

<div class="container padding-top">
    <div class="col-md-9 wysiwig">

        <h1>Stadium</h1>
        <p>The Greyhound-Data Forum has been created to act as a platform for greyhound enthusiasts to share information on this magnificent animal called a greyhound.</p>
        <p>Greyhound-Data reserve the right to remove any post that is off topic, advertisements or opinions they consider to be offensive.</p>
        <!-- comment-section -->
        <div id="" class="tabsWithPointer small-tabs margin-top" style="display: block; width: 100%; margin: 0px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Ireland</a></li>
                <li><a href="#">United Kingdom</a></li>
                <li><a href="#">USA</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Australia
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">New Zealand</a></li>
                        <li><a href="#">Europe</a></li>
                    </ul>
                </li>
            </ul>
            <div class="resp-tabs-container hor_1 wysiwig country-data" style="border-color: rgb(193, 193, 193);">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
                <div class="col-md-9 wysiwig">
                    <div class="user-page no-padding">
                        <h3>Sandro Bechini</h3>
                        <div class="btn-group main-button-panel">
                            <button type="button" class="btn btn-primary">About</button>
                            <button type="button" class="btn btn-primary">Track Records</button>
                            <button type="button" class="btn btn-primary">Fast Times</button>
                            <button type="button" class="btn btn-primary">Trap Statics</button>
                            <button type="button" class="btn btn-primary">Other</button>
                        </div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active" ng-non-bindable></li>
                                <li data-target="#myCarousel" data-slide-to="1" ng-non-bindable></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="http://3milliondogs.com/blog-assets-two/2015/04/greyhound-racing.jpg" alt="Chania" width="460" height="345">
                                </div>

                                <div class="item">
                                    <img src="http://3milliondogs.com/blog-assets-two/2015/04/greyhound-racing.jpg" alt="Chania" width="460" height="345">
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a ng-non-bindable class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a ng-non-bindable class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="">
                           
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu risus at sem dapibus laoreet porttitor id felis. Duis sit amet porttitor est, ut efficitur justo. Duis quis aliquet arcu. Sed sit amet lectus facilisis, rutrum augue eu, ornare metus. Vestibulum feugiat sapien ultricies tellus pretium tincidunt. Nunc rhoncus dapibus ligula at tincidunt. Nullam maximus finibus tincidunt. Vestibulum eu tempus augue, ut fermentum dolor.</p>
                            <p>Nulla augue nulla, iaculis eu vehicula vitae, tincidunt aliquet arcu. Duis consectetur eros et tortor posuere tempus. Ut sed purus lacinia, aliquam lacus quis, convallis orci. Aliquam erat volutpat. Etiam semper vel sapien pretium dapibus. Sed congue eros a scelerisque pretium. Nam tincidunt luctus nibh a fringilla.</p>
                        </div>
                        <table class="table table-striped long-data">
                            <tbody>
                                <tr>
                                    <td><b>Address</b></td>
                                    <td>Clonmel Greyhound Stadium,
Davis Road,
Clonmel.

Official Trials: Thursdays after racing<br />

Fridays 10.00 - 11.45 a.m. (last weigh in 11.30 a.m.)
                                        <br /> 
Unrecorded Trials: Mondays 2.00 – 8.00 p.m.; <br /> Tuesdays 2.00 – 8.00 p.m.; Saturdays 9.00 – 12.00 p.m.; Thursday after racing & Friday morning (all bookable)</td>
                                </tr>

                                <tr>
                                    <td><b>Contact</b></td>
                                    <td>
                                        (052) 6183334/83333 <br />
                                        (052) 6180091 (Fax)<br />
                                        cmltrack@indigo.ie
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Days open</b></td>
                                    <td>
                                        Sunday<br />
                                        Thursday
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Travel Directions</b></td>
                                    <td>
                                        Sorry no map
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Qualifying Times</b></td>
                                    <td>
                                        274 m (300 yds): 17.70 s<br />
                                        480 m (525 yds): 31.00 s
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <!-- Track Tecords-->
                        <h3>Trackrecords </h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Dist m/y</th>
                                    <th>Type</th>
                                    <th>Winner</th>
                                    <th>Time</th>
                                    <th>m/sec</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FEB 2011</td>
                                    <td>274 / 300</td>
                                    <td>flat</td>
                                    <td>Calling Spice [IE/IE 2008]</td>
                                    <td>	15.81</td>
                                    <td>	17.33</td>
                                </tr>
                                <tr>
                                    <td>FEB 2011</td>
                                    <td>274 / 300</td>
                                    <td>flat</td>
                                    <td>Calling Spice [IE/IE 2008]</td>
                                    <td>	15.81</td>
                                    <td>	17.33</td>
                                </tr>
                                <tr>
                                    <td>FEB 2011</td>
                                    <td>274 / 300</td>
                                    <td>flat</td>
                                    <td>Calling Spice [IE/IE 2008]</td>
                                    <td>	15.81</td>
                                    <td>	17.33</td>
                                </tr>


                            </tbody>
                        </table>
                        <!-- Track Tecords end -->


                        <!-- times records-->
                        <h3>Fastest Times  </h3>
                       <div class="row">
                           <div class="form-group col-sm-4">
                               <label>Year :</label>
                               <select class="form-control" >
                                   <option>1</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                               </select>
                           </div>
                           <div class="form-group col-sm-4">
                               <label>Distance :</label>
                               <select class="form-control">
                                   <option>1</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                               </select>
                           </div>
                       </div>

                                          
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Race</th>
                                    <th>Winner</th>
                                    <th>Sex</th>
                                    <th>Sire</th>
                                    <th>Dam</th>
                                    <th>Pts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>16.03</td>
                                    <td>9 AUG 2015</td>
                                    <td>Adams Hiccup [IE/IE 2013]</td>
                                    <td>m</td>
                                    <td>Droopys Scolari</td>
                                    <td>Adams Tess</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>16.03</td>
                                    <td>9 AUG 2015</td>
                                    <td>Adams Hiccup [IE/IE 2013]</td>
                                    <td>m</td>
                                    <td>Droopys Scolari</td>
                                    <td>Adams Tess</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>16.03</td>
                                    <td>9 AUG 2015</td>
                                    <td>Adams Hiccup [IE/IE 2013]</td>
                                    <td>m</td>
                                    <td>Droopys Scolari</td>
                                    <td>Adams Tess</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>16.03</td>
                                    <td>9 AUG 2015</td>
                                    <td>Adams Hiccup [IE/IE 2013]</td>
                                    <td>m</td>
                                    <td>Droopys Scolari</td>
                                    <td>Adams Tess</td>
                                    <td>4</td>
                                </tr>


                            </tbody>
                        </table>
                        <!-- times records end -->


                        <!-- Trap Statics-->
                        <h3>Fastest Times  </h3>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label >Year :</label>
                                <select class="form-control" >
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label >Distance :</label>
                                <select class="form-control" >
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Fin</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td> 16%	</td>
                                    <td>16%	</td>
                                    <td>17%	</td>
                                    <td>20%</td>
                                    <td>14%</td>
                                    <td>17%</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td> 16%	</td>
                                    <td>16%	</td>
                                    <td>17%	</td>
                                    <td>20%</td>
                                    <td>14%</td>
                                    <td>17%</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td> 16%	</td>
                                    <td>16%	</td>
                                    <td>17%	</td>
                                    <td>20%</td>
                                    <td>14%</td>
                                    <td>17%</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td> 16%	</td>
                                    <td>16%	</td>
                                    <td>17%	</td>
                                    <td>20%</td>
                                    <td>14%</td>
                                    <td>17%</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td> 16%	</td>
                                    <td>16%	</td>
                                    <td>17%	</td>
                                    <td>20%</td>
                                    <td>14%</td>
                                    <td>17%</td>
                                </tr>


                            </tbody>
                        </table>
                        <!-- Trap Static End -->

                        <!-- Other Statics-->
                        <h3> Races per distance per year </h3>
   


                        <table class="table table-striped small-table distance">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>2016</th>
                                    <th>2015</th>
                                    <th>2014</th>
                                    <th>2013</th>
                                    <th>2012</th>
                                    <th>2011</th>
                                    <th>2010</th>
                                    <th>2009</th>
                                    <th>2008</th>
                                    <th>2007</th>
                                    <th>2006</th>
                                    <th>2005</th>
                                    <th>2004</th>
                                    <th>2003</th>
                                    <th>2002</th>
                                    <th>2001</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="darker">0m / 0y</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="darker">274m / 300y</td>
                                    <td>88</td>
                                    <td>58</td>
                                    <td>752</td>
                                    <td>12</td>
                                    <td>32</td>
                                    <td>12</td>
                                    <td>321</td>
                                    <td>21</td>
                                    <td>12</td>
                                    <td>111</td>
                                    <td>21</td>
                                    <td>52</td>
                                    <td>145</td>
                                    <td>54</td>
                                    <td>55</td>
                                    <td>5</td>
                                </tr> 

                                <tr>
                                    <td class="darker">274m / 300y</td>
                                    <td>88</td>
                                    <td>58</td>
                                    <td>752</td>
                                    <td>12</td>
                                    <td>32</td>
                                    <td>12</td>
                                    <td>321</td>
                                    <td>21</td>
                                    <td>12</td>
                                    <td>111</td>
                                    <td>21</td>
                                    <td>52</td>
                                    <td>145</td>
                                    <td>54</td>
                                    <td>55</td>
                                    <td>5</td>
                                </tr> 
                                <tr>
                                    <td class="darker">274m / 300y</td>
                                    <td>88</td>
                                    <td>58</td>
                                    <td>752</td>
                                    <td>12</td>
                                    <td>32</td>
                                    <td>12</td>
                                    <td>321</td>
                                    <td>21</td>
                                    <td>12</td>
                                    <td>111</td>
                                    <td>21</td>
                                    <td>52</td>
                                    <td>145</td>
                                    <td>54</td>
                                    <td>55</td>
                                    <td>5</td>
                                </tr> 
                                <tr>
                                    <td class="darker">274m / 300y</td>
                                    <td>88</td>
                                    <td>58</td>
                                    <td>752</td>
                                    <td>12</td>
                                    <td>32</td>
                                    <td>12</td>
                                    <td>321</td>
                                    <td>21</td>
                                    <td>12</td>
                                    <td>111</td>
                                    <td>21</td>
                                    <td>52</td>
                                    <td>145</td>
                                    <td>54</td>
                                    <td>55</td>
                                    <td>5</td>
                                </tr> 
                            </tbody>
                        </table>
                        <!-- Other Static End -->

                    </div>                                 
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>
</div>
<a href="#/Stadium">Stadium</a>
