

<div class="container padding-top">
    <div class="col-md-9 wysiwig">

        <h1>Tracks</h1>
        <p>The Greyhound-Data Forum has been created to act as a platform for greyhound enthusiasts to share information on this magnificent animal called a greyhound.</p>
        <p>Greyhound-Data reserve the right to remove any post that is off topic, advertisements or opinions they consider to be offensive.</p>
        <!-- comment-section -->
        <div id="" class="tabsWithPointer small-tabs margin-top" style="display: block; width: 100%; margin: 0px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Ireland</a></li>
                <li><a href="#">United Kingdom</a></li>
                <li><a href="#">USA</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Australia
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">New Zealand</a></li>
                        <li><a href="#">Europe</a></li>
                    </ul>
                </li>
            </ul>
            <div class="resp-tabs-container hor_1 wysiwig country-data" style="border-color: rgb(193, 193, 193);">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
                <div class="col-md-9 wysiwig">
                    <h4>Country name</h4>
                    <img src="http://www.greyhound-data.com/gfx/ireland.gif" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras urna magna, vestibulum sed quam non, hendrerit condimentum magna. Vestibulum aliquet fermentum ullamcorper. Vivamus lobortis justo id egestas semper. Ut non efficitur erat, nec suscipit nisl. Phasellus est mi, viverra et viverra ut, tempor non ipsum. Pellentesque id nisl augue. Curabitur convallis pulvinar egestas. Duis dignissim hendrerit mauris non congue. Cras ut vehicula metus. Sed posuere nibh eu magna auctor, eget ultricies odio placerat. Fusce vel nibh vitae diam vehicula interdum. Maecenas tincidunt rutrum velit non sagittis. Curabitur in erat hendrerit, facilisis justo luctus, dictum dolor. In lectus dolor, luctus in tempor quis, vestibulum eget nunc. Cras euismod, felis ac eleifend pretium, est lorem elementum diam, id tempor quam ligula ac tellus. Morbi diam augue, porta id diam vel, mattis bibendum arcu.</p>
                    <p>Integer eros purus, vulputate id nunc in, porttitor pellentesque metus. Fusce eu velit id erat fringilla porttitor. Duis sit amet ipsum id mi vulputate pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed dignissim tristique sapien, nec eleifend nulla gravida in. Cras et rutrum ligula. Nulla eleifend, nisl ut bibendum lobortis, dui turpis mollis mi, eu ullamcorper velit tortor et turpis. Nunc placerat venenatis interdum. Pellentesque accumsan massa sit amet odio ullamcorper, aliquet elementum magna eleifend. Fusce vel sapien libero. Integer commodo justo congue risus cursus, vel dictum purus iaculis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla aliquam dignissim lorem, at condimentum sapien.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>
</div>
    <a href="#/Stadium">Stadium</a>
