
<div class="container padding-top">
    <div class="col-md-9 wysiwig">

        <h1>Welcome to the Greyhound Knowledge Forum</h1>
        <p>The Greyhound-Data Forum has been created to act as a platform for greyhound enthusiasts to share information on this magnificent animal called a greyhound.</p>
        <p>Greyhound-Data reserve the right to remove any post that is off topic, advertisements or opinions they consider to be offensive.</p>
        <p>Please read the forum usage manual please note:</p>
        <p>If you answer then please try to stay on topic. It's absolutely okay to answer in a broader scope but don't hijack posts by switching to something off topic. </p>
        <p>n case you see an insulting post: DO NOT REPLY TO IT! Use the report button to inform the moderators so that we can delete it. </p>

        <!-- comment-section -->

        <div class="small-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#_">All Topics</a></li>
                <li><a href="#_">GD-Website</a></li>
                <li><a href="#_">Breading</a></li>
                <li><a href="#_">Health</a></li>
                <li><a href="#_">Racing</a></li>
                <li><a href="#_">Coursing</a></li>
                <li><a href="#_">Adoption</a></li>
                <li><a href="#_">Betting</a></li>
                <li><a href="#_">Talk</a></li>
                <li><a href="#_">Team</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                    <div class="btn-groups add-padding ">
                        <h3>Topic Title</h3>
                        <a href="#/Discussion" class="btn btn-default pull-right">New Topic</a>
                        <div class="clearfix"></div>
                    </div>


                    <div class="comments row">
                        <div class="col-sm-3 user-data">
                            <div class="profile-picture">
                                <a href="#/UserProfile">
                                    <img src="http://www.greyhound-data.com/fotos_users/0/107610_f.jpg" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="#/UserProfile">Tony Gallagher </a>
                            </div>
                            <div class="meta">
                                Australia
                                (Team Member)
                                Posts 3990
                                Dogs 11778 / Races 38887
                                <span>20 Jul 2016 10:01</span>
                            </div>

                        </div>
                        <div class="col-sm-9">
                            <div class="comment-text">
                                <p>

                                    Greyhound-Data Fundraising are putting together a World Group to raise funds to save greyhound racing in N.S.W. Australia.
                                    This will be an ongoing campaign and just as those who oppose greyhound racing in N.S.W. Australia continue to do so we will continue supporting the greyhounds that we love.

                                    We will unite greyhound enthusiasts worldwide to support us.

                                    All funds raised will be paid directly into the United N.S.W. Greyhound Industry Fighting Fund.

                                    No wages or fees will be taken by Greyhound-Data.

                                    We need at least one member from each Country and State to represent us. Their duties will include contacting the greyhound participants within their state and asking them for items to donate towards our fundraising auctions. Our representatives will also be expected to keep everyone up to date via this thread.

                                    Any support from other groups striving to achieve similar results which would like to support us please email tony@greyhound-data.com Let’s all start heading in the same direction.

                                    Our first auction will take place as soon as our representatives are in place.

                                    If you would like to donate anything for our auction please post it here.

                                    Thank you for “standing up to be counted” and helping us do our bit to save Greyhound Racing in N.S.W. Australia.
                                </p>

                            </div>
                        </div>
                        <div class="controls">
                            <a href="#_"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            <a href="#_"><span class="glyphicon glyphicon-bullhorn"></span>Quote</a>
                            <a href="#_"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                            <a href="#_"><span class="glyphicon glyphicon-arrow-right"></span>Move</a>
                        </div>
                    </div>



                    <div class="comments row add-comment">
                        <div class="small-sec-header">
                            <h5>Write reply to   " 9.45PM AUCTION ENDS - INDIVIDUAL INCOME TAX RETURN "</h5>

                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <label for="sel1">Send me an email on updates</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>

                    </div>

                    <div class="comments row add-comment">
                        <div class="small-sec-header">
                            <h5>Post here your new Topic</h5>
                            <div class="form-group">
                                <label for="comment">Subject:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <label for="sel1">Send me an email on updates</label>
                                    <select class="form-control" id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="small-tabs">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Help</a></li>
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Stadium</h5>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Menu 1</a></li>
                                <li><a href="#">Menu 2</a></li>
                                <li><a href="#">Menu 3</a></li>
                            </ul>

                        </div>
                        <div class="col-md-9">
                            <img src="http://www.greyhound-data.com/gfx/ireland.gif" class="country" />
                            <h4>Ireland</h4>
                            <p>On 18th April, 1927, the first greyhound race track was opened in Ireland. This was in Celtic Park, Belfast, and was followed immediately by Shelbourne Park, Dublin one month later. In the same year, tracks were opened at Harolds Cross, Dublin and Dunmore Stadium, Belfast, to be followed in the following year by Cork.</p>
                            <p>Shortly after its introduction, the control of greyhound racing in Ireland came under the aegis of the Irish Coursing Club which supervised coursing, one of the most ancient field Sports, as well as publishing the Irish Greyhound Stud Book.</p>
                            <p>In 1958, the Government established Bord na gCon (The Irish Greyhound Board), to control, promote and operate greyhound racing in the Republic. The Irish Coursing Club continued to regulate greyhound racing in Northern Ireland.</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>
</div>d