

<div class="container padding-top">
    <div class="col-md-9 wysiwig">

        <h1>Welcome to the Greyhound Knowledge Forum</h1>
        <p>The Greyhound-Data Forum has been created to act as a platform for greyhound enthusiasts to share information on this magnificent animal called a greyhound.</p>
        <p>Greyhound-Data reserve the right to remove any post that is off topic, advertisements or opinions they consider to be offensive.</p>
        <p>Please read the forum usage manual please note:</p>
        <p>If you answer then please try to stay on topic. It's absolutely okay to answer in a broader scope but don't hijack posts by switching to something off topic. </p>
        <p>n case you see an insulting post: DO NOT REPLY TO IT! Use the report button to inform the moderators so that we can delete it. </p>

        <!-- comment-section -->
        <div id="" class="tabsWithPointer small-tabs margin-top" style="display: block; width: 100%; margin: 0px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">All Topics</a></li>
                <li><a href="#">GD-Website</a></li>
                <li><a href="#">Breading</a></li>
                <li><a href="#">Health</a></li>
                <li><a href="#">Racing</a></li>
                <li><a href="#">Coursing</a></li>
                <li><a href="#">Adoption</a></li>
                <li><a href="#">Betting</a></li>
                <li><a href="#">Talk</a></li>
                <li><a href="#">Team</a></li>
            </ul>
            <div class="resp-tabs-container hor_1 wysiwig" style="border-color: rgb(193, 193, 193);">

                <div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-0" style="display:block">

                    <div class="btn-groups add-padding">
                        <h3>Topic Title</h3>
                        <a href="#/Discussion" class="btn btn-default pull-right">New Topic</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="comments row">
                        <div class="col-sm-3 user-data">
                            <div class="profile-picture">
                                <a href="#/UserProfile">
                                    <img src="http://www.greyhound-data.com/fotos_users/0/107610_f.jpg" />
                                </a>
                            </div>
                            <div class="name">
                            <a href="#/UserProfile">Tony Gallagher </a>
                            </div>
                            <div class="meta">
                                Australia
                                (Team Member)
                                Posts 3990
                                Dogs 11778 / Races 38887
                                <span>20 Jul 2016 10:01</span>
                            </div>

                        </div>
                        <div class="col-sm-9 comment-data">

                            <p>

                                Greyhound-Data Fundraising are putting together a World Group to raise funds to save greyhound racing in N.S.W. Australia.
                                This will be an ongoing campaign and just as those who oppose greyhound racing in N.S.W. Australia continue to do so we will continue supporting the greyhounds that we love.

                                We will unite greyhound enthusiasts worldwide to support us.

                                All funds raised will be paid directly into the United N.S.W. Greyhound Industry Fighting Fund.

                                No wages or fees will be taken by Greyhound-Data.

                                We need at least one member from each Country and State to represent us. Their duties will include contacting the greyhound participants within their state and asking them for items to donate towards our fundraising auctions. Our representatives will also be expected to keep everyone up to date via this thread.

                                Any support from other groups striving to achieve similar results which would like to support us please email tony@greyhound-data.com Let’s all start heading in the same direction.

                                Our first auction will take place as soon as our representatives are in place.

                                If you would like to donate anything for our auction please post it here.

                                Thank you for “standing up to be counted” and helping us do our bit to save Greyhound Racing in N.S.W. Australia.
                            </p>
                        </div>
                        <div class="controls">
                            <a href="#_"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            <a href="#_"><span class="glyphicon glyphicon-bullhorn"></span>Quote</a>
                            <a href="#_"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                            <a href="#_"><span class="glyphicon glyphicon-arrow-right"></span>Move</a>
                        </div>
                    </div>



                    <div class="comments row">
                        <div class="col-sm-3 user-data">
                            <div class="profile-picture">
                                <a href="#/UserProfile">
                                    <img src="http://www.greyhound-data.com/fotos_users/0/107610_f.jpg" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="#/UserProfile">Tony Gallagher </a>
                            </div>
                            <div class="meta">
                                Australia
                                (Team Member)
                                Posts 3990
                                Dogs 11778 / Races 38887
                                <span>20 Jul 2016 10:01</span>
                            </div>

                        </div>
                        <div class="col-sm-9 comment-data">

                            <p>

                                Greyhound-Data Fundraising are putting together a World Group to raise funds to save greyhound racing in N.S.W. Australia.
                                This will be an ongoing campaign and just as those who oppose greyhound racing in N.S.W. Australia continue to do so we will continue supporting the greyhounds that we love.

                                We will unite greyhound enthusiasts worldwide to support us.

                                All funds raised will be paid directly into the United N.S.W. Greyhound Industry Fighting Fund.

                                No wages or fees will be taken by Greyhound-Data.

                                We need at least one member from each Country and State to represent us. Their duties will include contacting the greyhound participants within their state and asking them for items to donate towards our fundraising auctions. Our representatives will also be expected to keep everyone up to date via this thread.

                                Any support from other groups striving to achieve similar results which would like to support us please email tony@greyhound-data.com Let’s all start heading in the same direction.

                                Our first auction will take place as soon as our representatives are in place.

                                If you would like to donate anything for our auction please post it here.

                                Thank you for “standing up to be counted” and helping us do our bit to save Greyhound Racing in N.S.W. Australia.
                            </p>
                        </div>
                        <div class="controls">
                            <a href="#_"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            <a href="#_"><span class="glyphicon glyphicon-bullhorn"></span>Quote</a>
                            <a href="#_"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                            <a href="#_"><span class="glyphicon glyphicon-arrow-right"></span>Move</a>
                        </div>
                    </div>


                    <div class="comments row">
                        <div class="col-sm-3 user-data">
                            <div class="profile-picture">
                                <a href="#/UserProfile">
                                    <img src="http://www.greyhound-data.com/fotos_users/0/107610_f.jpg" />
                                </a>
                            </div>
                            <div class="name">
                                <a href="#/UserProfile">Tony Gallagher </a>
                            </div>
                            <div class="meta">
                                Australia
                                (Team Member)
                                Posts 3990
                                Dogs 11778 / Races 38887
                                <span>20 Jul 2016 10:01</span>
                            </div>

                        </div>
                        <div class="col-sm-9 comment-data">

                            <p>

                                Greyhound-Data Fundraising are putting together a World Group to raise funds to save greyhound racing in N.S.W. Australia.
                                This will be an ongoing campaign and just as those who oppose greyhound racing in N.S.W. Australia continue to do so we will continue supporting the greyhounds that we love.

                                We will unite greyhound enthusiasts worldwide to support us.

                                All funds raised will be paid directly into the United N.S.W. Greyhound Industry Fighting Fund.

                                No wages or fees will be taken by Greyhound-Data.

                                We need at least one member from each Country and State to represent us. Their duties will include contacting the greyhound participants within their state and asking them for items to donate towards our fundraising auctions. Our representatives will also be expected to keep everyone up to date via this thread.

                                Any support from other groups striving to achieve similar results which would like to support us please email tony@greyhound-data.com Let’s all start heading in the same direction.

                                Our first auction will take place as soon as our representatives are in place.

                                If you would like to donate anything for our auction please post it here.

                                Thank you for “standing up to be counted” and helping us do our bit to save Greyhound Racing in N.S.W. Australia.
                            </p>
                        </div>
                        <div class="controls">
                            <a href="#_"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            <a href="#_"><span class="glyphicon glyphicon-bullhorn"></span>Quote</a>
                            <a href="#_"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                            <a href="#_"><span class="glyphicon glyphicon-arrow-right"></span>Move</a>
                        </div>
                    </div>
                    <div class="comments row reply-comment">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>                       
                        <div class="text-right reply-button">
                            <a href="#_" class="btn btn-default">Comment</a>
                        </div>
                    </div>


                </div>
               
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>
</div>