<div>
    <div class="modal-header modal-header-style">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Main idea of the Greyhound-Data Knowledge Forum</h4>
    </div>
    <div class="modal-body modal-body-scroll-v">
        <p>This forum is a place for Greyhound lovers to exchange knowledge and to find answers.When posting in the forum please be so kind to mind a few things: </p>
        <ul>
            <li><p>Post in the right category. Posting in the correct category helps others to find and answer your question. Questions outside the scope of a certain forum will either be moved, locked or simply be deleted.</p></li>
            <li><p>If you answer then please try to stay on topic. Its absolutely okay to answer in a broader scope but don't hijack posts by switching to something of-topic.</p></li>
            <li><p>Be nice to each other and respect the moderator. Profanity and insults will not be tolerated. If you have a problem with another member turn to the team for moderation.</p></li>
            <li><p>In case you see an insulting post: DO NOT REPLY TO IT! Use the report button to inform the moderators so that we can delete it.</p></li>
            <li><p>Use a title that describes the content of your post. Don't use all caps or special characters to draw attention.</p></li>
            <li><p>Don't insult or complain about people or organisations not beeing part of this forum.</p></li>
            <li><p>Don't campaign here for things that the forum can not change. If you are unhappy with the choice of beer at your local track then speak to the restaurant manager directly and don't start a petition here.</p></li>
            <li>
                <p>
                    No blatant advertising. We have a free classifieds section for advertisements.<br />
                    - Dog ads should be put in the classifieds section!<br />
                    - Onetime announcing your personal website in the talk section is okay.<br />
                    - But ending each of your posts with a link to your favority website is annoying and NOT ok.<br />
                    - Announcing a new sire at stud is okay. Including a detailed discussing of the sire.<br />
                    - For permanent or regular sire advertisement please use our sire pages.
                </p>
            </li>
            <li>No arguing with moderators If a post gets deleted (because slander/insult etc) then we always send out a email explaining the reason. Questions to this have to be emailed back. The forum is for posting Greyhound related question - If you want to argue around with the moderator this has to be done via email.</li>
            <li>
                New users will need to get verified first to be able to use the forum.
                We encourage all our users to get verified.
                After sending us a prove of your identity your account will be update to (verified) status.
                To become a verified user please send some proof of your ID to the Greyhound-Data Team.
                Please send us a copy of your trainer license, or driving license, or similar.
                You can send this per email to team@greyhound-data.com or per Fax +49-7458-455 882
                If you send us a fax please be so kind and send us an email as well. This helps us to identify which fax belongs to which user/email.
                We guarantee that your proof of ID will be kept private and only used for your account verification.
            </li>
        </ul>
        <p>We hope that the above rules will help to keep the forum a valuable source of information and that you will enjoy using it.  </p>
    </div>
</div>