
<script>
    $('.side_bar_menu').addClass('activate');

    $(window).scroll(function () {
        scroll = $(window).scrollTop();
        if (scroll >= 100) {
            $('.main_nav').addClass('activate');
            $('body').addClass('activate45');
        } else {
            $('.main_nav').removeClass('activate');
            $('body').removeClass('activate45');
        }

    });
    $(window).load(function () {
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

    });
</script>





<div class="container padding-top">
    <div class="col-md-9 wysiwig">
        <h1>Welcome to the Greyhound Knowledge Forum</h1>
        <p>The Greyhound-Data Forum has been created to act as a platform for greyhound enthusiasts to share information on this magnificent animal called a greyhound.</p>
        <p>Greyhound-Data reserve the right to remove any post that is off topic, advertisements or opinions they consider to be offensive.</p>
        <p>Please read the forum usage manual please note:</p>
        <p>If you answer then please try to stay on topic. It's absolutely okay to answer in a broader scope but don't hijack posts by switching to something off topic. </p>
        <p>n case you see an insulting post: DO NOT REPLY TO IT! Use the report button to inform the moderators so that we can delete it. </p>

        <div id="parentHorizontalTab" class="tabsWithPointer margin-top" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list hor_1">
                <li class="resp-tab-item hor_1 resp-tab-active" aria-controls="hor_1_tab_item-0" role="tab" style="border-color: rgb(193, 193, 193); background-color: white;">All Topics</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-1" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">GD-Website</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-2" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Breading</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-3" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Health</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-4" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Racing</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-5" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Coursing</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-6" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Adoption</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-7" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Betting</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-8" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Talk</li>
                <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-9" role="tab" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Team</li>
            </ul>
            <div class="resp-tabs-container hor_1 wysiwig" style="border-color: rgb(193, 193, 193);">

                <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-1" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span class="resp-arrow"></span>GD-Website</h2>
                <div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-0" style="display:block">
                    <div class="special-messege">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla dolor placerat diam tempus, sit amet suscipit odio pellentesque. Maecenas ut egestas leo, at egestas tellus.
                        </p>
                    </div>
                    <div class="btn-groups add-padding">
                        <h3>All Topics</h3>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table table-striped margin-bottom-zero">
                        <thead>
                            <tr>
                                <th>Topic</th>
                                <th>Topic Starter</th> 
                                <th>Replies</th>
                                <th>Views</th>
                                <th>Last Action</th>
                                <th>Last Post</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#/Discussion">GD Syndicate Based in Ireland   (1, 2 )</a></td>
                                <td><a href="#/Discussion">GD Racing Club</a></td>
                                <td><a href="#/Discussion">36</a></td>
                                <td><a href="#/Discussion">4328</a></td>
                                <td><a href="#/Discussion">03 Aug 15:17</a></td>
                                <td><a href="#/Discussion">Bobby Scullion</a></td>
                            </tr>
                        </tbody>


                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination margin-bottom-zero ">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-1" style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span class="resp-arrow"></span>GD-Website</h2>
                <div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-0" style="display:block">
                    dfdf
                </div>
            </div>
        </div>






    </div>
    <div class="col-md-3">
        <div class="row side_bar">
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add1.jpg">
            </a>
            <div class="latest_news">
                <h2>Latest news</h2>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src=".../../../Content/images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="../../../Content/Images/General/news1.jpg" alt="...">
                        </a>
                    </div>
                    <a class="read_more" href="#">Read more</a>
                    <hr>
                </div>
            </div>
            <div class="weekly_video ">
                <h2>Video of the week</h2>
                <video width="100%" controls>
                    <!--<source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
                <a href="#">View video gallery</a>
            </div>
            <a href="#">
                <img src="../../../Content/Images/General/sidebar_add2.jpg">
            </a>
        </div>
    </div>
</div>
